.header {
  display: flex;
  margin: 10px 30px;
}

.home_logo {
  margin-top: 10px;
  font-size: 25px;
  color: #303030;
  text-decoration: none;
}

.member_button {
  display: flex;
  margin-left: auto;
}

.white_btn {
  background-color: #fff;
  border-radius: 30px;
  width: 156px;
  height: 58px;
  padding: 9px;
  font-size: 20px;
  border-color: #d9d9d9;
  border-style: solid;
  margin-left: 15px;
}

.white_btn > a {
  color: #303030;
  text-decoration: none;
}

.green_btn {
  background-color: #4adb50;
  border-style: none;
  border-radius: 30px;
  width: 156px;
  height: 58px;
  padding: 9px;
  font-size: 20px;
  margin-left: 15px;
}

.green_btn > a {
  color: #fff;
  text-decoration: none;
}
