.header {
  display: flex;
  margin: 10px 30px;
}

.home_logo {
  margin-top: 10px;
  font-size: 25px;
  color: #303030;
  text-decoration: none;
}

.member_button {
  display: flex;
  margin-left: auto;
}

.login {
  background-color: #fff;
  border-radius: 30px;
  width: 156px;
  height: 58px;
  padding: 9px;
  font-size: 20px;
  border-color: #d9d9d9;
  border-style: solid;
}

.login > a {
  color: #303030;
  text-decoration: none;
}

.registration {
  background-color: #4adb50;
  border-style: none;
  border-radius: 30px;
  width: 156px;
  height: 58px;
  padding: 9px;
  font-size: 20px;
  margin-left: 15px;
}

.registration > a {
  color: #fff;
  text-decoration: none;
}

.container {
  margin: 80px 360px 0 360px;
}

.table_container > span {
  font-size: 20px;
}

.mypage_header {
  margin-top: 20px;
}

.user_data > span {
  font-size: 28px;
  margin-right: 5px;
}

.change_info_btn {
  border: solid 1px gray;
  border-radius: 30px;
  font-size: 14px;
  padding: 2px 3px;
  color: gray;
  text-decoration: none;
}

.user_state {
  margin-top: 10px;
}

.user_post_data {
  display: inline-block;
  margin-right: 20px;
}

.user_post_data > span {
  font-size: 20px;
  margin-right: 8px;
}
